[2018-03-27 12:22] ashchurko opened #2 "MQTT 5.0 support"
We need [MQTT 5.0 specification](http://docs.oasis-open.org/mqtt/mqtt/v5.0/cs01/mqtt-v5.0-cs01.html) support, at least part of it. Let's make this library v5.0 compliant, here is the list of features we need in order of importance:

- [x] MQTT v5.0 CONNECT packet and custom properties per each packet

- [x] PUBLISH => set message expiry interval

Next are less important:
- [x] subscription identif

[2018-08-02 13:02] NicoHood commented on #2
Hi, I just found your mqtt library for python!

It seems to be the first that supports mqtt5, which is nice. The list above seems a bit incomplete. Are you sure all other functions are also supported? You can possibly try out this test suite:
https://github.com/eclipse/paho.mqtt.testing

Another thing I am wondering about is how much you support of the following table:
https://www.eclipse.org/paho

[2018-08-06 14:47] wialon commented on #2
@NicoHood Hi, thank you for your interest.

We are using this lib for our [internal projects](https://flespi.com), so it can be incomplete. You can try it for your project and if you will find some mistakes or feature, which we are not supporting, feel free to PR or Issues. :slightly_smiling_face:

We are curently working on persitent session suport and you can try it at #15.

[2018-09-11 23:39] tagdara opened #18 "Keepalive has 2 bugs that prevent it from working properly"
At connection.py:32, the first time it triggers, the computed values is always equal to, not greater than self._keepalive on my system.  It therefore skips the keepalive, eventually failing to a disconnect/reconnect.

`        if time.monotonic() - self._last_data_in > self._keepalive:`

Changing the > to >= fixes it for me, making the first keepalive work.

I originally encountered this on a MQTT

[2018-09-12 07:44] Lenka42 commented on #18
Hi @tagdara Thanks for noticing :+1: I fixed issues you mentioned in PR #19
Next time we will be happy to see PRs from you :slightly_smiling_face:

[2018-09-12 07:46] #18 closed

[2018-10-08 12:20] #2 closed

[2019-02-23 18:57] skewty opened #29 "Test requirements are incorrectly bundled in with install requirements"
Can you please separate your test requirements and install requirements?  Currently they are both combined in requirements.txt.

[See here](https://stackoverflow.com/questions/4734292/specifying-where-to-install-tests-require-dependencies-of-a-distribute-setupto)

[And here](https://packaging.python.org/discussions/install-requires-vs-requirements/)

[2019-02-25 14:01] Lenka42 commented on #29
@skewty thanks for this issue, I made test dependencies more explicit

[2019-02-25 14:01] #29 closed

[2019-03-06 10:23] Snevzor opened #31 "Connection error: [CONNACK] 0x1 Task exception was never retrieved"
Hello,

I cannot get the examples to work.

I've stripped a publish example down to:
[code]
A broker is running on localhost.

Python version 3.5.2.

[2019-03-06 10:32] Snevzor commented on #31
Perhaps I'm lacking some MQTT V5 knowledge. It works with V4.

[2019-03-06 11:44] #31 closed

[2019-03-06 11:51] Lenka42 commented on #31
@Snevzor  I think, error occurred  because your broker does not support MQTT 5.0 version
`0x01 Connection Refused, unacceptable protocol version`

[2019-03-06 11:56] Snevzor commented on #31
Thanks for the fast response @Lenka42. That was exactly the problem.

[2019-03-06 12:27] Snevzor opened #32 "Feature request: client config"
I would like to provide a config to Client that contains FAILED_CONNECTIONS_STOP_RECONNECT, RECONNECTION_SLEEP, ...

An example from hbmqtt project:
[code]

[2019-04-11 08:11] Lenka42 commented on #32
@Snevzor we supported config in version 0.3.2. You can update config like this:
[code]
In this example client will stop auto reconnects attempts.

[2019-04-11 08:11] #32 closed

[2019-06-04 12:05] HerrMuellerluedenscheid opened #45 "Client does not fallback to MQTT3 on rabbitmq"
Hey,

From the readme I guessed that gmqtt should reconnect using protocol v3 if mqtt v5 is not supported on the broker side. I'm using rabbitmq which does not support v5. gmqtt got disconnected right after establishing the connected but never reconnected. When explicitly setting v3 it works smoothly. I don't think that's a bug but maybe the Readme should be modified to point out that automatic pr

[2019-06-04 14:26] Lenka42 commented on #45
Hi, thanks for notice!
Probably this happened because RabbitMQ broker didn't use proper connect acknowledgement code. Good one is
0x01 Connection Refused, unacceptable protocol version
Receiving this code, client will downgrade protocol version and try to reconnect.
I will add more related logging and clarification in README

[2019-06-04 15:02] HerrMuellerluedenscheid commented on #45
Not sure if it helps. This is the logging output from gmqtt:

[code]
and this is the logging from rabbitmq:
[code]

Feel free to close the topic. Just wanted to draw your attention to that one.

[2019-06-06 08:36] rkrell opened #46 "Reference to asyncio in synchronous method gmqtt.client.Client.publish"
There is a wrong line in the publish() method of the client:

https://github.com/wialon/gmqtt/blob/c167583682b38590a9770b8120662295d81c9c16/gmqtt/client.py#L195

which causes failures in my code:
[code]

Since this line has no effect it should be removed from this synchronous function.

[2019-06-06 10:05] rkrell commented on #46
Thanks for merging, the above traceback does no longer occur now.

Would appreciate a release just in case of some spare time ;-) Thank you in advance

[2019-06-06 10:05] #46 closed

[2019-06-06 10:22] Mixser commented on #46
Thanks for notice. As I can see, you are using threads (and pypy) and we didn't tested our lib in such way of usage.

May be the `asyncio.set_event_loop` method will be useful for you cases. I mean you need to connect the event loop to your threads before using the async methods in it.

If you did it and the problem still happening, notify us.

And thanks for your PR. :blush:

[2019-06-06 10:45] #45 closed

[2019-06-06 12:03] rkrell commented on #46
The async_to_sync wrapper is just a workaround, because I need to call async methods from within the gmqtt callbacks. Best would be having coroutines as callbacks, that would simplify it a lot.

Thank you all for acting so fast.

[2019-06-06 12:12] Mixser commented on #46
Hi,

We support a async callback only for ‘on_message’. May be it will help you.

[2019-06-06 12:18] rkrell commented on #46
Aha, I see now:
https://github.com/wialon/gmqtt/blob/d198e5b8698e234c445fa0561c9b3b24d8d3ff7b/gmqtt/mqtt/handler.py#L296-L299

Very good solution, to be able to use sync and async according to the needs.
This will help much avoiding workarounds. Thanks.

[2019-06-06 12:25] rkrell commented on #46
Good point, will try this.

[2019-06-22 14:10] mohsenyaghoobi opened #49 "AttributeError: 'NoneType' object has no attribute 'encode'"
Does anybody know what is this error!

/home/mohsen/PycharmProjects/gmqtt/venv/bin/python /home/mohsen/PycharmProjects/gmqtt/gmqtt.py
Traceback (most recent call last):
  File "/home/mohsen/PycharmProjects/gmqtt/gmqtt.py", line 59, in <module>
    loop.run_until_complete(main(host, token))
  File "uvloop/loop.pyx", line 1451, in uvloop.loop.Loop.run_until_complete
  File "/home/mohsen/PycharmProje

[2019-06-24 13:13] Snevzor opened #50 "Make logging optional"
Could it be possible to make the extensive logging optional?

[2019-06-24 13:55] Mixser commented on #49
Hi @mohsenyaghoobi
Please, check what you passed to `client.set_auth_credentials` method. It seem to be you pass `None` value.

[2019-06-24 14:06] Mixser commented on #50
Hi @Snevzor,
If you don't need to get gmqtt's logs, you may switch off them by adding this in as early you can:
[code]

And you will receive only logs about errors.

[2019-06-24 14:34] Snevzor commented on #50
Thanks Mixser!

[2019-06-24 14:34] #50 closed

[2019-07-10 11:14] rajdeeprath opened #51 "How do you subscribe to multiple topics ?"

[2019-07-10 11:18] Lenka42 commented on #51
@rajdeeprath right now gmqtt does not allow to subscribe to multiple topics in one packet. But I also think this might be a useful feature, so if you want, you may create a PR :smile: Or I will start work on this in a few days or weeks :thinking:

[2019-08-01 11:02] miili opened #53 "client._connected does not reflect the transport state"
A disconnect does not clear the event.

The actual state is reflected by
[code]

[2019-08-13 14:47] Lenka42 commented on #53
@miili
Now Client has `is_connected` property which depends on both` _connected` event and transport state

[2019-08-13 14:47] #53 closed

[2019-08-14 10:04] Lenka42 commented on #51
@rajdeeprath Now you can subscribe to multiple topics in one command:
[code]
Please upgrade to gmqtt==0.4.0

[2019-08-14 10:04] #51 closed

[2019-08-29 04:55] simonegiacomelli opened #57 "Use gmqtt without uvlo"
I just installed gmqtt  but uvloop does not support Windows at the moment.

Can I use gmqtt without uvloop?

In the example, there is this comment: 'gmqtt also compatibility with uvloop'
What does it mean? Is it a dependency or a choice?

best regards

[2019-08-29 08:09] Lenka42 commented on #57
Hi, @simonegiacomelli
It's just our choice. In our examples, just remove line where we set event loop policy: https://github.com/wialon/gmqtt/blob/master/examples/properties.py#L10 And everything should work.

[2019-08-29 08:10] Lenka42 commented on #49
@mohsenyaghoobi I'm closing this issue. If you have any questions regarding authorization, please reopen.

[2019-08-29 08:10] #49 closed

[2019-08-29 12:10] simonegiacomelli commented on #57
Dear @Lenka42 it actually gives an exception:

Traceback (most recent call last):
  File "C:/Users/Simone/Documents/beamng/precrime-tig/experiments/library-pieces/mqtt/gmqtt_example.py", line 57, in <module>
    loop.add_signal_handler(signal.SIGINT, ask_exit)
  File "C:\Users\Simone\AppData\Local\Programs\Python\Python36\lib\asyncio\events.py", line 499, in add_signal_handler
    raise NotImpleme

[2019-08-29 12:27] Lenka42 commented on #57
Oh, I see. Never tried to run it on Windows actually
remove all add_signal_handler lines
And wrap loop.run_until_complete with try-except block:
[code]
Let me know if it helps :smile:

[2019-08-29 12:58] simonegiacomelli commented on #57
yes, it works! :)

Thank you very much, sir.

[2019-08-30 04:57] #57 closed

[2019-08-30 05:00] simonegiacomelli commented on #57
It could be beneficial for new users to have a ms windows example (with the changes discussed here).
Best regards

[2019-09-02 09:36] d21d3q opened #58 "Unhandled ConnectionRefusedError"
If you run [properties example](https://github.com/wialon/gmqtt/blob/2fb5d6dec9ebbc902acfa63412f21f256315a1c8/examples/properties.py) with host that is not running broker (eg localhost), program will crash
[code]
Expected behavior would be to try to reconnect normally.

[2019-09-02 14:05] Lenka42 commented on #58
Actually this is expected behavior. Reconnects are good when you client is working, but connection at the moment becomes broken and after some time your client automatically reconnects. If the first connection attempt was unsuccessful, it probably means that configuration is bad, host, port or authorization method should be fixed.

[2019-09-02 15:18] d21d3q commented on #58
Hmmm, my use case is to embed mqtt client in IoT device and let it go into the wild, and report some data.
In such case I would except from program (device), to warn me about bad configuration, but keep retrying to connect without crashing. I am configuring device once (asserting that it is working), and letting him live its own life (like [gps trackers](https://gurtam.com/) :) ).
But there are ot

[2019-09-28 16:41] Allineer opened #59 "Last Will (graceful disconnect) bug"
Sample:

[code]

Broker log:

[code]

Why LWT was sent?

[2019-09-30 10:04] DurandA opened #60 "Use message callback on subscriptions rather than globally"
Right now, message handlers are attached globally on the mqtt client: `mqtt_client.on_message = on_message`

Would it be possible to attach a message handler to a _Subscription_? I am thinking of something along the lines of:
[code]

[2019-09-30 13:52] DurandA opened #61 "Asynchronous handlers"
Is there any plan to switch to asynchronous handlers?

I'd like to use an asynchronous function to store messages to a database using _asyncio_:
[code]

Indeed it is still possible to add a new task to the event loop; I just thought it would be nicer.

[2019-09-30 14:03] Lenka42 commented on #61
Hi, @DurandA
It's now possible to use asynchronous `on_message` callback (yes, only this one at the moment)
I will add comment about this to README in nearest future. You can see examplel

[2019-09-30 14:22] Lenka42 commented on #59
Hi @Allineer
I'm investigating your issue. Which broker do you use?

[2019-09-30 16:59] DurandA commented on #61
Awesome, thank you!

[2019-09-30 18:23] Allineer commented on #59
@Lenka42 ,

[code]

[code]

[2019-10-01 07:02] Lenka42 commented on #59
@Allineer I fixed bug in disconnect packet for MQTT 3.1.1, please check version 0.4.1

[2019-10-01 09:04] Lenka42 commented on #60
@DurandA I like this approach, we will start working on this :+1:

[2019-10-01 13:20] Allineer commented on #59
It's working!

Спасибо, Елена!

[2019-10-01 13:20] #59 closed

[2019-10-01 20:35] Allineer commented on #61
@Lenka42, we have a problem :(
[code]

My `_on_message` function is a coroutine.
Or it's only **my** problem?

[2019-10-02 04:25] Allineer opened #63 "Asynchronous _on_message handler error"
@Lenka42, we have a problem :(
[code]

[2019-10-02 08:28] Lenka42 commented on #63
@Allineer There was a problem with asynchronous callbacks in client with `optimistic_acknowledgement=True`. Thanks for reporting this,  fixed in version 0.4.3

[2019-10-02 12:02] Allineer opened #65 "Unhandled [WinError 10054]"
Елена, извините, опишу на русском, ибо писать много, а мой английский совсем не вери-велл :(

Пришлось протестировать на богопротивной Windows и сразу столкнулся с проблемой.
Вкратце: обычное поведение клиента состоит в том, что при неудачном подключении к брокеру, выполняются попытки переподключения.

Я категорически несогласен с этим поведением и не совсем понимаю, как это поведение обойти.

Пыт

[2019-10-02 12:06] Lenka42 commented on #65
@Allineer Попробуйте сделать `self._client.stop_reconnect()` еще до собственно `await self._client.connect`. Эта функция просто изначально поменяет конфиг количества неудачных переподключений.

[2019-10-02 12:55] Allineer commented on #65
@Lenka42 логично :)
Но остается проблема с WinError - при возникновении такой ошибки, управление не возвращается из метода connect - получается такой себе вечный await.

[2019-10-02 15:42] Lenka42 commented on #65
Обидно конечно, что на винде не работает. У нас на Линуксе как раз такое поведение как вы описываете, при первом коннэкте если не подключилось - ошибка. А если первый раз успешно подключилось - дальше реконнэкты при разрывах.
Мне кажется эту ошибку будет сложно отловить, у нее вон трэйсбэк напрямую из asyncio а не вашего кода. Но я завтра ее еще поковыряю.
А вернуть реконнэкты можно методом `clien

[2019-10-02 16:04] Lenka42 commented on #65
А какой у вас брокер?

[2019-10-02 17:10] Allineer commented on #65
mosquitto 1.5.7-1

[2019-10-02 18:26] Allineer commented on #65
Тоже не совсем так, правда на macOS:

[code]
Или некорректные имя пользователя-пароль считаются успешным подключением?

[2019-10-03 05:00] DurandA commented on #63
@Lenka42 The issue is still present. I just reinstalled _gmqtt_ from git master.

[2019-10-03 05:28] DurandA commented on #63
@Lenka42 The error is still present when using `functools.partial`.

[2019-10-03 05:33] DurandA commented on #61
@Lenka42 The error is still present when using `functools.partial`.

[2019-10-03 05:35] Lenka42 commented on #61
Could you please share minimal peace of code with your on_message handler?

[2019-10-03 05:54] DurandA commented on #61
After some inspection, the issue is due to `iscoroutinefunction()` which [does not work with `functools.partial`](https://stackoverflow.com/a/52422903/1584915).

Here is a minimal example:
[code]

[2019-10-03 11:46] Lenka42 commented on #61
@DurandA  I released fix for partial coroutines, please check newest version

[2019-10-17 12:10] #63 closed

[2019-10-17 12:11] #61 closed

[2019-10-17 13:22] DurandA commented on #61
Many thanks!

[2019-10-30 02:02] fangchih opened #67 "connect to MQTT v5 broker (like EMQX) over Websocket"
how to setup the connection string? thanks~

[2019-10-30 07:42] Mixser commented on #67
Hi, @fangchih. At this moment *ws transport* is experimital feature in *gmqtt*. You may help us to debug and test it by using gmqtt from *support-ws-transport* branch.

As I say, this is experimital feature and in future we can to change methods and ways to use it;

Here is a small exmaple how to init client with ws as transport:
[code]

[2019-11-11 15:31] nicola-lunghi opened #68 "handler.py: missing 1 required positional argument: 'properties'"
Following the example on the README i have a connect function defined like this (I'm not using

[code]

[code]
This will go away if I define the function as

[code]

[2019-11-12 07:45] Lenka42 commented on #68
Hi @nicola-lunghi  which `gmqtt` version do you use? As I see by your traceback, it's outdated, please upgrade to newest  `gmqtt==0.4.4` version

[2019-11-12 09:34] nicola-lunghi commented on #68
I think I got the latest from pypi but I'll double check thanks

[2019-11-12 11:25] nicola-lunghi commented on #68
You were right I was using 0.0.12.
Thanks

[2019-11-12 11:25] #68 closed

[2019-11-14 02:58] liamdiprose opened #69 "Pythonic API"
Hi there,
Thanks for sharing this project, I'm very excited to see MQTT and asyncio coming together.

I was surprised by the callback-style API in the [basic example](https://github.com/wialon/gmqtt#getting-started). I expected the simple example to use the async-with pattern like the [aiohttp](https://aiohttp.readthedocs.io/en/stable/client_quickstart.html#make-a-request) or [websockets](https://

[2019-11-14 08:16] Lenka42 commented on #69
@liamdiprose we do not support such behaviour and do not plan to implement it.
I guess you can implement behaviour similar to `async with gmqtt.connect('mqtt.flespi.io') as client:`  on your own creating context-manager class which will do connect on enter and disconnect on exit.

But implementation of behaviour similar to this one: `async for message in client.subscribe('TEST/#', qos=0):` is hard

[2019-11-16 03:24] liamdiprose commented on #69
Hi @Lenka42, Thanks for the tips, I might have a go at the context manager class this week.

The `async for` line is closer to question I was trying to ask: Using an awaitable object instead of callbacks.
[code]
Asyncio has the [Future](https://docs.python.org/3/library/asyncio-future.html) class, which was made to "bridge low-level callback-based code with high-level async/await code". I'll have

[2019-11-16 21:38] lordfourth opened #71 "I tried to do this using multi threading so that we can connect multiple clients in a single code"
I tried to use multithread for the code so that we can have multiple clients connect but its showing
**RuntimeError: this event loop is already running.Task exception was never retrieved**

This is my updated code for the sample code you have given

[code]

[2019-11-17 07:22] stefangotz opened #72 "How to detect that reconnect_retries has been exceeded?"
When I set `reconnect_retries` to some value as documented in the README and I want my application to react to the fact that gmqtt has exceeded that number of retries and given up on reconnecting (e.g., to exit the application or to reconnect at a much later stage), how would I do that?

[2019-11-18 08:53] Mixser commented on #71
@lordfourth you are not right using threads and asyncio - you must specify event_loop for each

[code]

[2019-11-20 08:36] Lenka42 commented on #72
Hi @stefangotz
There is no special callback for the moment when client stops reconnecting
But the possible solution would be to check `client.reconnect_retries` property in``on_disconnect` callback

[2019-11-25 15:52] nicola-lunghi opened #73 "async handle task.cancel()"
Hi,
in all of the example this library is used with an asyncio event() to handle the termination of the library.
How can I handle instead an asyncio coroutine?

I have multiple tasks that are running in parallel with asyncio.gather()

this is another one

[code]

[code]

How can I run gmqtt in a while True await?

[2019-11-26 10:35] Beetix opened #74 "Garbage collection issue using python 3.8"
Hi,

I've tried the getting started example.

Unfortunately it doesn't seem to work due to a garbage collection issue using python 3.8. It works fine on python 3.7 (3.7.5 to be exact).

Here is the traceback:
[code]
You can reproduce this by using the python 3.8-buster docker image:
[code]
Does anyone have an idea on how to fix this?

Thanks

[2019-11-26 14:43] Lenka42 commented on #73
I don't understand waht you are asking about. `tasks.cancel()` should work, does this work in your case? But this is a bad practice, it's better to stop client gently calling `client.disconnect()`
It does not matter whether you catch `except asyncio.CancelledError` or wait for some event or varriable set.

[2019-11-26 14:45] Lenka42 commented on #74
@Beetix thanks for bringing this up.
Seems like the problem is caused by changes in asyncio StreamReader in 3.8.0
I will investigate it further

[2019-11-26 18:52] Beetix commented on #74
Ok, great, thanks!

[2019-11-27 14:39] Mixser commented on #71
@lordfourth we will close this issue becuase its not related to *gmqtt*. So if you still will have problem, please reopen it.

[2019-11-27 14:39] #71 closed

[2019-11-27 14:45] Lenka42 commented on #74
@Beetix try version `gmqtt==0.4.5`

Problem was caused by changes in `asyncio.StreamReader`, also this class is deprecated, so we need to get rid of this dependency later

[2019-11-28 08:34] Beetix commented on #74
@Lenka42 I confirm it works. Thanks!

[2019-11-28 08:34] #74 closed

[2019-12-02 10:06] stefangotz commented on #72
Hi @Lenka42 !
How would that work?
When I register an `on_disconnect` call-back function, it is called once when the client transitions from connected to disconnected. The gmqtt client then makes 4 attempts to reconnect and then stops without calling my `on_disconnect` callback again. So I'm still not sure how my application can be notified and react when gmqtt has given up reconnecting?

[2019-12-02 14:32] Lenka42 commented on #58
Hey @d21d3q
I added kwarg `raise_exc=True` to `client.connect` method. Together with unlimitted reconnects this should work in your case. LEt me know if it helps :slightly_smiling_face:

[2019-12-02 14:33] Lenka42 commented on #72
@stefangotz sorry, my bad. Please try upgrade to `gmqtt==0.5.0` and check the following:
[code]
I checked, and in your in case with `reconnect_retries=4` last time on_disconnect was called with `client.failed_connections=5`
Let me know, if it works now.

[2019-12-02 14:41] nicoCalvo opened #77 "GMQTT with TLS: ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
TLS option is not working as expected. I can only set ssl to True but I cannot provide a path to the cert file.
Mosquitto configuration is working ok with TLS both publisher and subscriber:
[code]

If I try to apply same configuration for gmqtt I get the error on the title

[code]

## ERROR FILE

gmqtt/mqtt/connection.py

## ERROR LINE

transport, protocol = await loop.create_connection(MQTTProtoc

[2019-12-02 15:15] Lenka42 commented on #77
Hi @nicoCalvo
You should pass `ssl.SSLContext` object as ssl argument (if you pass `ssl=True` `ssl.create_default_context()` is used)
So I guess in your case you should create context yourself and pass it to `client.connect` method:
[code]

[2019-12-06 06:28] VinceWg opened #78 "How to know publish is successful or failed when qos is 1 or 2 and how to retry it manually?"
As the title says, I want to know that publish runs successfully or failed when the qos is set to 1 or 2, if successfully, record it, if failed, retry it manually. So what should I do please?

[2019-12-06 08:46] Mixser commented on #78
Hi @VinceWg

Currently *gmqtt* has no easy way to do it. But it's not imposible.

If you just want to know when your qos1-2 message has not been delivered (we didn't receive PUBACK) you may to inherite from `gmqtt.storage.BasePersistentStorage` and implement you own storage of that messages. Than you must pass the instance of you storage to Client `__init__` method by kwargs `persistent_storage=yo

[2019-12-06 10:44] VinceWg commented on #78
@Mixser
Thx much for your explain, it gives me a clear solution.

[2019-12-06 10:45] #78 closed

[2019-12-06 19:56] stefangotz commented on #72
Hi @Lenka42 !

Thanks a lot for pointing that out! With v0.5, I do indeed no longer observe this issue. Resolved as far as I am concerned.

[2019-12-06 19:56] #72 closed

[2019-12-08 01:29] stefangotz opened #79 "Client remains active after disconnect()"
Hi!

My usecase is to use gmqtt with an MQTT broker over an unreliable link, so it can be unavailable for quite a bit or the MQTT TCP connection can be in weird and wonderful states. Furthermore, I need to completely shutdown and discard a gmqtt client and all its resources and tasks if it is unable to connect to such an MQTT broker.

One particular slightly strange connection state can be simulat

[2019-12-09 17:40] nicoCalvo commented on #77
Hi @Lenka42 you're right! That was the problem, actually I made it work this way:

[code]

Thanks for your help.
Best,
Nick

[2019-12-10 07:09] #77 closed

[2019-12-12 10:55] jeffreykira commented on #67
Hi, @Mixser. I get the wrong result using the above example.

[code]

Below is my code. How can I solve this problem? Thank you.
[code]

[2019-12-12 11:59] Lenka42 commented on #67
@jeffreykira WS support feature is not `master` yet, so in order to test it you should clone the repo and setup gmqtt from `support-ws-transport` branch

[2019-12-12 14:45] Lenka42 commented on #79
@stefangotz Thanks for letting us know. Setup is strange indeed, we didn't perform tests like this. I will try to figure out what went wrong in latest version.

[2019-12-13 02:29] jeffreykira commented on #67
@Lenka42 Thank you for your reminder. After adjustment I got the following error.

[code]

[2019-12-13 08:26] Lenka42 commented on #67
@jeffreykira This happens because you didn't set valid credentials for the client, uncomment this line:
[code]

[2019-12-13 09:12] jeffreykira commented on #67
@Lenka42 Thanks for your replay. It works for me.

[2019-12-16 10:53] jeffreykira opened #80 "error occurs when QoS is set to 2"
I have two mqtt clients.
When the QoS of publish and subscribe is set to 2 at the same time, I get the following error.

[code]

Why does this error occur?

[2019-12-16 15:20] Lenka42 commented on #80
@jeffreykira thanks, fixed in version 0.5.1

[2019-12-17 01:55] jeffreykira commented on #80
@Lenka42  I confirm it works. Thanks!

[2019-12-17 01:55] #80 closed

[2019-12-21 04:44] skewty commented on #58
@d21d3q does this resolve your problem?  Can this issue be closed?

[2019-12-21 06:40] d21d3q commented on #58
I will have a look at it on Monday. Thank you.

[2019-12-26 13:13] honglei commented on #79
Env:  Win7 64 /python3.7.5 /Tornado6 /gmqtt 0.5.1

[code]
Result:
[code]

[2019-12-26 13:48] honglei commented on #79
The reason for this problem is that after disconnect() , an CONNACK message received, which cause link connected again!

track stack:
[code]
![gmqtt_error](https://user-images.githubusercontent.com/1011330/71478137-fd32f700-2828-11ea-8e13-4d0181420328.png)

[2019-12-26 14:30] Mixser commented on #79
Hi @honglei

Thanks for your investigation. We founded an error in our reconnect logic and will think how to fix it in the best way. We will fix this behavior in next version (approximately tomorrow).

[2019-12-27 09:13] Lenka42 commented on #79
@honglei please, check version 0.5.2

[2019-12-27 11:44] honglei commented on #79
@Lenka42 version 0.5.2 solved this problem, Thanks!

[2019-12-27 11:51] Lenka42 commented on #79
@stefangotz does the new version solve also the problem in your setup? :slightly_smiling_face:

[2019-12-29 10:25] xandrade commented on #79
Could you please share your code improvement?

[2019-12-30 14:22] fabaff opened #86 "CI is not running for PRs"
The CI is not running on PRs. It seems that the credentials are not valid which are used by travis.

[code]

[2019-12-30 14:31] Lenka42 commented on #86
@fabaff Actually this is expected behaviour (or I don't know how to handle this)
Our tests create connection to [Flespi MQTT broker](https://flespi.io/#/) and it requires token taken from environment variable. And in general third-party PR can have any code, which can potentially cause token leak.
So the flow is following: if we have PR which looks good, we merge it to the feature-branch first and

[2019-12-30 14:31] Lenka42 commented on #86
@fabaff any ideas about how we can do better?

[2019-12-30 21:06] fabaff commented on #86
Perhaps something like this could be helpful. If `TOKEN` is present then run the tests with flespi.io otherwise use a local MQTT broker.

[code]

Not very elegant but would allow to run the tests locally before submitting a pull request. Perhaps it would require to add `@pytest.mark.local` to some tests to distinguish between a local MQTT broker and the one from flespi.io as a local broker usually

[2020-01-07 23:01] stefangotz commented on #79
@Lenka42 I've tried 0.5.4 and it is better, but unfortunately still not as good as 0.4.5 as far as the API is concerned.

When I run the attached sample program with 0.5.4, the output is as follows:

[code]

This is an improvement over 0.5 in that the Client instance appears to become inactive after the second call-back to `_disconnect()`. However, the application sees the following confusing sequ

[2020-01-09 13:36] fabaff opened #91 "Examples are placed in the root of the site-packages dir"
Examples are placed in the root of the site-packages directory which will make it hard to identify them (is also a packaging issue).

[code]
From my point of view they should go under or not be included at all:

[code]

[2020-01-10 07:26] jeffreykira opened #93 "How do I know if receive topic comes from the same subscribe?"
I subscribe a topic with plus symbol (LIGHT/+/TURNON)
So I will receive these topics:
[code]
I hope to receive these topic can do the same thing.
How do I know that `LIGHT/ID_1/TURNON` and `LIGHT/ID_2/TURNON` are from  the same subscribe?

following is my sample code:
[code]

[2020-01-10 08:10] Lenka42 commented on #93
@jeffreykira For now there are two possibilities:
1) you can match received message topic with regexp, like this:
[code]
2) or if you use broker supporting MQTT 5.0 version, you can use subscription identifiers for this.
[code]
`on_message` handler will receive messgae with property `subscription_identifier`, which is list:
[code]

[2020-01-10 08:59] jeffreykira commented on #93
Thank you very much for your reply, I will use the second one.

[2020-01-10 08:59] #93 closed

[2020-01-13 11:46] leantw1ce opened #94 "How to connect to username/password protected broker"
Hi,
I'm new to mqtt. After cloning the repo I managed to make the "Getting started" code work. My question is, how can I connect to protected brokers with a simple username and password? I have no idea what to edit and where.

Thanks!

[2020-01-13 12:26] mfrlin commented on #58
No, this is not the correct way of handling this. If you take a look at the `reconnect` function you will see that it handles `OSError` `connect` function does not. This is why the client explodes when broker is not online and you try to connect.

Workaround is something like this:
[code]

[2020-01-13 13:13] Lenka42 commented on #94
@leantw1ce Hi!
try this way:
[code]

[2020-01-17 12:14] Lenka42 commented on #94
@leantw1ce I'm closing this isuue, if you have any other questions or something is not working properly, feel free to reopen.

[2020-01-17 12:14] #94 closed

[2020-01-17 12:15] Lenka42 commented on #91
Fixed in version 0.5.6

[2020-01-17 12:15] #91 closed

[2020-01-23 13:35] pablogamboa opened #96 "Topic Alias support?"
First of all, congrats to the developers on this great project, gmqtt is a joy a to use. Thanks!

I had a quick look and it seems that [Topic Alias](https://www.hivemq.com/blog/mqtt5-essentials-part10-topic-alias/) are not supported by gmqtt. Is that the case? I will happily send a PR improving the docs if they are already supported, just couldn't see how.

[2020-01-23 13:53] Lenka42 commented on #96
Hi @pablogamboa
Thanks, happy to hear this!
Actually there is topic alias support, like any others properties. But you should manage yourself set of topic aliases you use.
So here is quick example:
[code]
First client publishes messages with topic string and kwarg `topic_alias=int`. After this initial message client can publish message with empty string topic and same `topic_alias` kwarg.
Sure, yo

[2020-01-23 13:55] pablogamboa commented on #96
Hi @Lenka42 thanks for the fast reply. Awesome to hear that's supported! At least this question will serve as documentation, but for sure we could add a wee section in the docs around it. It's a great MQTT5 addition and I'm sure other users will wonder about it. Closing the issue, thanks again!

[2020-01-23 15:50] HerrMuellerluedenscheid opened #97 "restore subscriptions after connection lost"
Hi,
I'm facing an issue when restoring subscriptions after a lost connection. I'm testing durability of connections and whenever I shut the connection down (turning the access point off) gmqtt reconnects and delivers messages but the subscriptions remain dead.

I see two of the following log messages right after each other:
[code]
A little later:
[code]
Any idea on how to either verify subscriptio

[2020-01-23 17:01] HerrMuellerluedenscheid commented on #97
Turns out that the subscriptions it not established in the first place. I'm using an asyncio routine for that which is waiting for the connection to be established inside of a `MQTTClient` subclass:

[code]

The subscription happens right before the connection crashes (see above). But after the connection is lost, no message go through to the subscription.

[2020-01-23 21:25] miili commented on #97
The exception is also due to this https://github.com/wialon/gmqtt/commit/90766b0d8c009ddbdec94180f906f975ce92b435#r36865808 in v0.5.5.

[2020-01-24 09:24] naquad opened #98 "Client does not reconnect"
Hi,

I'm using version 0.5.6 and got the following code:

[code]

To test the reconnection I'm restarting mosquitto service and get the following output:

[code]

I've seen a similar error in #74 so reporting this one for further investigation.

[2020-01-24 09:25] Lenka42 commented on #97
@HerrMuellerluedenscheid `WARNING:gmqtt.mqtt.handler:[EXC OCCURED] in reconnect future None` is buggy logging :disappointed: as @miili mentioned. Today new version`0.6.0` is released, it's fixed there.
Wether subscriptions are alive or not depends on the session life time. You can manipulate session with parameters `clean_session` parameter and `sssion_expiry_interval` connect property.

[2020-01-24 10:05] naquad commented on #98
P. S. The same issue happens with 0.6.0

[2020-01-24 11:27] naquad commented on #98
Here's what I've found out:

[code]

The reason is that `asyncio.StreamReaderProtocol::connection_lost` method does `self._transport = None` in Python 3.8.

It is not clear for me if this problem should be handled somehow at the protocol handler layer or should be propagated to Client (QoS, packet retention and etc...).

[2020-01-24 14:45] Lenka42 commented on #98
@naquad could you please check `0.6.1`?

[2020-01-24 14:48] naquad commented on #98
@Lenka42 works! :tada: Thank you :smile:

If needed then here's the log output:

[code]

[2020-01-24 14:50] #98 closed

[2020-02-11 11:07] Lenka42 commented on #97
@HerrMuellerluedenscheid I will close the issue. If you have further questions, please reopen.

[2020-02-11 11:07] #97 closed

[2020-02-11 12:21] Lenka42 commented on #73
@nicola-lunghi  I will close the issue. If you have further questions, please reopen.

[2020-02-11 12:21] #73 closed

[2020-02-14 15:17] NICOLASGON commented on #58
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718033

If a server sends a CONNACK packet containing a non-zero return code it MUST then close the Network Connection [MQTT-3.2.2-5]

gmqtt doesn't implement the MQTT standard for this particular point.

[2020-02-17 11:03] Lenka42 commented on #58
@NICOLASGON Specification tells server must close the connection after it sends bad CONNACK package. gmqtt is about client relaization and docs do not specify any required actions after receiving bad connack code.

[2020-02-27 02:28] madhukar01 commented on #79
I updated the library from version 0.5.4 to 0.6.2 and I have stumbled upon a similar problem.

I can check in the mosquitto log which says:
`Client xyz has exceeded timeout, disconnecting.
New connection from <ipaddr> on port 1883`
Because of this, I am getting [TRYING WRITE TO CLOSED SOCKET]

My client has a keepalive of 60 seconds and is not subscribed to any topics.

[2020-02-27 02:36] madhukar01 commented on #79
It is a single python thread which never disconnects, and I am sure there is no other thread/client with the same client ID.

[2020-02-27 08:47] Lenka42 commented on #79
@madhukar01 sorry, I need more details on what's going on in your case.

[2020-03-06 06:25] nicola-lunghi opened #102 "tag for 0.6.1 and 0.6.2 release"
Hi
on pypi I noticed that the latest version is 0.6.2 can you please tag it also here and on the relase page?

Thanks

[2020-03-10 12:23] Lenka42 commented on #102
@nicola-lunghi done :heavy_check_mark:

[2020-03-10 12:23] #102 closed

[2020-03-20 08:32] dgambin opened #103 "Connection lost on Linux server"
Hi,

I am getting connect/disconnect events all the time on my Linux (debian) server. The same script works ok on my local machine (mac). The pattern is always the same, like:

CONNECTED->SUBSCRIBED->CONN CLOSE NORMALLY/DISONNECT after exactly 4 minutes->CONNECTED->CONN CLOSE NORMALLY/DISONNECT after exactly 2 minutes. Then it repeats every 2 minutes many times, then again 4 minutes/2 minutes.

I

[2020-03-20 09:36] Lenka42 commented on #103
@dgambin could you please set debug-level logging?
`logging.basicConfig(level=logging.DEBUG, format='%(asctime)s %(message)s')`

[2020-03-20 09:55] dgambin commented on #103
@Lenka42 d
[debug.log](https://github.com/wialon/gmqtt/files/4358852/debug.log)
debug log attached

[2020-03-20 17:37] naquad opened #104 "[Feature request] Wait for all pending messages to be published"
Please add a way to `await` for all pending messages to be delivered.

Calling `await client.disconnect()` is throwing a bunch of errors:

[code]

[2020-03-23 15:57] Mixser commented on #104
Hi @naquad, thanks for your proposal. We will try implement this in the next version.

[2020-03-25 12:01] Lenka42 commented on #103
From both broker and client sides it looks like socket was closed unexpectedly :( I guess more research on system and network settings is needed

[2020-04-01 15:45] ijl20 commented on #103
I see the same or similar issue - in my case a connection to a mostly default (apart from logging) configured localhsot Ubuntu mosquitto broker has timeout disconnects resulting in missed messages. It looks to me (logs below) like the gmqtt client sends PINGREQ messages every (default) 60 seconds, which maintains the connection to the mosquitto broker fine. But when the subscription *receives* a m

[2020-04-02 08:20] Mixser commented on #103
Hi @ijl20, thanks for your investigation, it will help us to understand and find out where is the mistake.

[2020-04-02 14:36] ijl20 commented on #103
On further debugging the issue seems to be that `gmqtt` is treating an incoming message from a mosquitto subscription as ok to reset  internal timestamp `MQTTConnection._last_data_in`, but mosquitto is *not* using that publish to reset its internal keepalive timer.

I modified `MQTTConnection._keep_connection` as below, first to add the additional `logger` writes to show the internal  timestamp (w

[2020-04-06 14:21] frederikaalund commented on #69
I've written an idiomatic asyncio-based interface around paho-mqtt: [asyncio-mqtt](https://github.com/sbtinstruments/asyncio-mqtt)

It replaces the callback-based interface with `async with` and `async for` statements. Feel free to take inspiration from asyncio-mqtt's interface and implementation. :)

#70

[2020-04-06 14:29] eerimoq commented on #69
Another alternative is [mqttools](https://github.com/eerimoq/mqttools). However, it only implements MQTT version 5.0, and not the older 3.x versions.

[2020-04-07 13:03] ijl20 commented on #103
Quick heads up... on further testing with patch #105 I think there remains a similar timeout issue for a client **publisher**. (I haven't properly debugged yet, just wanted to post quickly)

I modified my earlier `test_timeout.py` (itself based on the gmqtt homepage sample) to remove the subscription in `on_connect` and add another co-routine to publish every 10 seconds:
[code]
Although the regula

[2020-04-07 14:29] Lenka42 commented on #103
@ijl20 thanks for investigation :slightly_smiling_face:
This is an interesting case, when messages from client (Publish qos 0) are coming quit often, but broker does not respond in any way. I pushed commit with a fix for this case #105 , could you please check if looks good to you?

[2020-04-07 18:20] ijl20 commented on #103
Fix looks good to me (I cloned master from Lenka42/gmqtt), and my pub & sub test code all behaves fine now. I hadn't considered the significance of **frequent** + **qos=0** publishes being the special case in my'publisher' issue but see exactly what you mean.

[2020-04-08 13:24] Lenka42 commented on #103
@dgambin Could you please check the newest version `0.6.5` and see if it solves your problem?

[2020-04-14 12:01] dgambin commented on #103
I have just tried and for now I don't see any problem :-)

[2020-04-19 00:53] teucrus opened #106 "on_message callback is triggered when sending messages."
Hello,
Thank you for this great project. It's very nice. I noticed an issue. Please let me know if this is intentional or if there is bug somewhere.

Consider this code:

[code]

the above code provides the following output:

[code]

As you can see the on_message callback was triggered both when sending and receiving a message.
Thus making it impossible to distinguish who sent the message (server

[2020-04-19 06:02] dexif commented on #106
As I can see, you subscribed to the "test/#" wildcard topic.
Then you send a message from this client and receive it from the broker by this client. After that, you send another message from another mqtt client, and also receive a message using this client. It works correctly.

If you do not want to receive messages sent by this client, you can use the “no_local = true” flag when subscribing to a

[2020-04-19 23:53] teucrus commented on #106
Thank you this helped a lot.

[2020-04-22 09:51] teucrus commented on #106
One note on this matter.
I noticed that if I create subscriptions with the subscription class, if I don't set the no_local = true at the time of creation and set it when I actually subscribe, the no_local = true is ignored.

[2020-04-22 10:07] Lenka42 commented on #106
@teucrus could you please provide example of code, how are you doing the subscription?

[2020-04-22 10:23] teucrus commented on #106
[code]

There you go.

[2020-04-22 13:59] Lenka42 commented on #106
@teucrus yeeah, my idea was if you use `Subscription` object, you should pass all the arguments into this object, and all the arguments from `subscribe` method is ignored. I guess I should do this 'ignoring' more explicit, or update subscriptions with this arguments, I'll  think about it, thanks for noticing :+1:

[2020-04-22 14:03] Lenka42 commented on #103
@dgambin @ijl20 it seems to me that issue is solved. If you have any other consideration, feel free to reopen :slightly_smiling_face:

[2020-04-22 14:03] #103 closed

[2020-04-25 16:01] honglei opened #108 "Question：document for how to do pytest"
Env：CentOS8/ mosquitto 1.6.9

[code]

[2020-04-29 13:18] Lenka42 commented on #108
@honglei in order to run tests, you should set either TOKEN environment variable (in this case Flespi MQTT broker will be used) or the following set of env vars:
HOST (127.0.0.1 will be used if not provided), USERNAME, PASSWORD and PORT (1883 by default).

[2020-05-24 13:05] edocod1 commented on #60
Hello, is somebody working on this? Thinking about implementing it myself.

[2020-06-02 14:36] Hacker-CB opened #110 "Periodically disconnects with mosquitto 1.4.15"
Hello!

I'm using your clean example from README and I have two problems:

- Client periodically disconnects (around every 30 seconds)
- Clean session does not work after reconnecting and I receive messages for old subscription which I made before with the same client ID.

[code]

**mosquitto**: 1.4.15
**gmqtt**: 0.6.5

With mosquitto 1.6.9 all works fine.

[2020-06-03 10:14] Mixser commented on #110
Hello, @Hacker-CB

Thanks for your interesting in our project. At first look, I think this is a problem of _mosquitto_ rather than problem of _gmqtt_. But we will check this behavior.

PS: Please look the issue #103, and send us detailed logs of your app and mosquitto

[2020-06-03 11:09] Hacker-CB commented on #110
Seems that problem was that I had two clients with the same client ID.
So, problem with disconnections was from there.

Thank you.

[2020-06-03 11:09] #110 closed

[2020-06-03 19:14] skewty commented on #60
@edocod1 go for it!  perhaps @Lenka42 would be willing to assist.  I can assist if required as well.

[2020-06-03 20:08] edocod1 commented on #60
Hello. I've extended the mqtt client.

Features:
- Can use (multiple!) function callbacks on subscriptions
- Can decode/encode yaml messages
- Can define a "namespace" that will be prepended to every topic (i use it to make a unique server act as multiple ones)

[code]

[2020-06-04 11:23] Mixser commented on #60
Hi @edocod1,

Thanks for your snippet, but we can't do in that way - because `properties` is a feature of **MQTT5**, but we are supporting **MQTT3.11** too;

Fill free to create a PR for that feature, we will review it and help you with implementation

[2020-06-04 11:52] edocod1 commented on #60
Aww, i actually had an implementation compatible with 3.11, but I've dropped it since i prefer doing it in a cleaner way with subscription_identifier.

Maybe I'll reimplement it later.

[2020-06-05 09:26] Mixser commented on #60
You can create a new example (in examples folder) with your code of extended MQTTClient instance and make a note that it will work only in 5 version of protocol;

[2020-06-05 13:55] straga commented on #79
Hello.
I have same result.
After await client.disconnect()
I have callback on_disconnect.
But the client still try to connect again.

[2020-06-05 18:16] skewty commented on #60
@edocod1 would you be open to collaboration on your fork?  If yes, please give me access to your fork and we can work away at the issues until the PR is accepted.

[2020-06-05 18:18] edocod1 commented on #60
Hi @skewty! That snippet there is all i have. I just expanded the Client class to add my own convenience method! The whole repo is actually a p2p web-crawler using mqtt for metrics and communication between peers

[2020-07-02 18:57] cloud-rocket opened #111 "Python 3.8 deprecation warning"
Just putting this warning here

[code]

[2020-07-03 10:07] hollymcr opened #112 "Issues falling back to v311"
I've not been able to track this down to anything concrete so I'm hoping someone with more experience of gmqtt can fill in the blanks.

My test environment is gmqtt with mosquitto 1.6.10

In circumstamces I haven't yet been able to reproduce in simple test code, the v5 connection appears to work fine, but a subsequent publish may fail, with Mosquitto logging "Unsupported property type: 44", causin

[2020-07-06 07:51] Mixser commented on #112
Hi, @hollymcr!

Thanks for your interest in the project . We will try to investigate why auto-downgrade is not working properly, but if you will send us an example of code it will help us to solve the problem faster; If you don't want to share your code in public - you may send it to me via email: mixser.by@gmail.com

[2020-07-24 11:41] Mixser commented on #112
Hello, @hollymcr

Sorry, but we could not reproduce this behavior and decide to close this issue. So if you send us an example of your code and configs of mosquitto broker - we will reopen it;

[2020-07-24 11:41] #112 closed

[2020-07-24 11:43] hollymcr commented on #112
Hi,

Sorry, yes fair enough. I did try to reduce it to a simple demo and failed
but then work got in the way. If I can reproduce it meaningfully I'll
re-open. Hadn't intended to wait so long before replying, though.

Mark

On Fri, 24 Jul 2020 at 12:41, Mike Turchunovich <notifications@github.com>
wrote:

--
Mark Rogers // More Solutions Ltd (Peterborough Office) // 0844 251 1450
Registered in Engl

[2020-07-24 13:18] wialon commented on #111
Hi @cloud-rocket

We have been fixed this in 0.6.6 version;

[2020-07-24 13:23] wialon commented on #104
Hi @naquad, check out our new version of gmqtt (0.6.6) - we have fixed this behavior, now it should disconnect properly without any errors and warnings;

[2020-07-27 07:48] naquad commented on #104
Works as expected. Thank you :)

[2020-07-28 14:59] veracl commented on #96
gmqtt seems to not work with brokers that use topic aliases on outgoing PUBLISHs.

I have tried to use gmqtt with the Paho testing broker (https://github.com/eclipse/paho.mqtt.testing) which does this. When the PUBLISH packets with empty topic and topic alias property reach the client, it logs an error message:

[code]

A PUBLISH with non-empty topic and topic alias property was sent before this.

[2020-07-28 21:21] Mixser commented on #96
Hi @veracl, thanks for your notice. You are right, at this moment gmqtt didn't support if SERVER (broker) send an PUBLISH package without topic. You will help us if send a little snippet of your code, which reproducing this error;

We will fix this in the next version (0.6.7)

[2020-07-29 08:14] veracl commented on #96
Here's my code which produced the error message:

**subscriber.py**
[code]

**publisher.py**:

[code]

[2020-07-30 14:40] #104 closed

[2020-07-31 09:20] #96 closed

[2020-07-31 09:44] Mixser commented on #96
Hi, @veracl

Thanks for your code snippet it helped us to test and release this feature faster. Please checkout our new version of gmqtt 0.6.7;

[2020-07-31 09:46] Mixser commented on #79
Hi @straga

Please checkout our new version. We have been improved disconnect behavior (0.6.6);

[2020-07-31 10:43] #111 closed

[2020-08-25 13:26] canique opened #113 "How to use optimistic_acknowledgement?"
If you set optimistic_acknowledgement = False, how would you acknowledge received messages manually in the on_message handler?

[2020-08-25 13:55] Mixser commented on #113
Hi @canique, if you switched off the optimistic acknowledgemen, then ack will be published only after your `on_message` callback will be processed. You don't need to send it manually.

[code]

[2020-08-25 15:25] canique commented on #113
thanks for the fast reply

[2020-08-28 09:55] wanZzz6 opened #114 "Reconnect Fail"
My client disconnected from broker, but an error occurred while it try to reconnect . The client can't reconnect again but the event_loop still run.  Maybe there should be an `on_error()`  callback function set on the client.

I check the  source code in `gmqtt.mqtt.handler'

[code]

If the ` reconnect future` run fail,  and the callback `_handle_exception_in_future`  Just print a log info ......,

[2020-08-30 12:17] canique commented on #113
I have tried setting optimistic_acknowledgement=False but when set, my on_message() handler does not get called anymore.

I am returning
return PubRecReasonCode.SUCCESS
in the on_message handler.
I have tried with QOS 1 and QOS 2.

But the handler does not get called (not even the first line) when I disable optimistic_acknowledgement.
I only receive message with retain=True at startup. Then no msg

[2020-08-31 16:11] Mixser commented on #113
Hi again,

The `optimistic_acknowledgement` feature works only with QoS 2;

[2020-08-31 16:23] canique commented on #113
When you say QoS 2 - do you mean the publish must be QoS 2, or is it enough if the subscribe is QoS 2?

[2020-08-31 16:24] Mixser commented on #113
No, sorry I make a mistake. You are right, `optimistic_acknowledgement` should work both QoS1 and QoS2.

[2020-08-31 16:29] canique commented on #113
[code]

[2020-08-31 16:31] canique commented on #113
The output of the above code is:

Connected
SUBSCRIBED
RECV MSG on topic ... QOS 1
Skipping retain message
RECV MSG on topic ... QOS 1
Skipping retain message
RECV MSG on topic ... QOS 1
Skipping retain message
RECV MSG on topic ... QOS 1
Skipping retain message

After that there should be incoming messages. But the handler does not get called...

[2020-08-31 16:33] Mixser commented on #113
Thanks, I will test it with my env. Also, you can switch on DEBUG level of logger by adding this as early as possible:

[2020-08-31 16:41] canique commented on #113
When I add the logging code, nothing changes in console output. Do I need to change something else?

Yes I am getting messages, those that are retained. But not a single message that is not retained.
I have a similiar code (with a different client ID of course), that does not change the optimistic_acknowledgement setting. It is getting all messages. If I only change that option, everything is work

[2020-08-31 16:44] canique commented on #113
As soon as I enable optimistic_ack I get all the messages that the broker could not send me in the meantime - all of them at once @ startup. So there must be something blocking those msgs from coming in.
There are settings like number of in-flight msgs e.g. @ the broker. If let's say 10 msgs have been transmitted but not acked, then the broker won't send any more until it gets an ack. I suspect th

[2020-08-31 16:45] canique commented on #113
I'm using python 3.7 by the way.

[2020-08-31 16:47] Mixser commented on #113
Ok, I see. At this moment I can't help you (until tomorrow); Please, try to replace `PubRecReasonCode.SUCCESS` with `PubRecReasonCode.SUCCESS.value`, may be this will help you;

[2020-08-31 16:49] canique commented on #113
I added .value - unfortunately that did not fix it.
I'll wait for tomorrow :)

[2020-08-31 16:54] Mixser commented on #113
And another quick try to fix your problem - make your `on_message` callback async; As I see in the code - we have realized `run_coroutine_or_function` in incorrect way in case when `on_message` is sync;

[2020-08-31 16:57] canique commented on #113
That did the trick! Changing "def on_message" to "async def on_message" made it work (while still using "return PubRecReasonCode.SUCCESS")

Thanks!

[2020-08-31 16:58] Mixser commented on #113
🥳🥳🥳🥳

Great, thanks for your sample of code. We will fix this behavior in next release;

[2020-08-31 16:59] canique commented on #113
Thanks a lot :+1:

[2020-09-01 15:52] canique commented on #113
I have done some tests now with QoS 1 messages (both publish + subscribe).

Even if I send a reason code of 128 (unspecified error), I never get to see the message again. It is not re-sent. I disconnect the client, and on reconnect all the messages with pubacks with reason code 128 are not retransmitted.

I've added a log statement in handler.py: _send_puback():
The log output looks like
sending p

[2020-09-02 11:01] canique commented on #113
I ran a test with mosquitto broker now. Thr broker receives the PUBACK with the reason code correctly.
The broker behaves similar to HiveMQ. Even if a PUBACK with reason code 128 is sent, the broker will not resend the message upon reconnect.

BUT: if no PUBACK is sent at all (by leaving out the return statement), the broker will resend all those unacked messages upon reconnect.

So a negative pub

[2020-09-02 11:31] canique opened #115 "Possibility of now acknowledging a published message"
Based on https://github.com/wialon/gmqtt/issues/113 I suggest to have the ability to not acknowledge a message at all.
So it should be possible to "return None" in the on_message callback (without raising an exception).

Why? If I want to process a message, but some backend system that I need for processing is unavailable right now, I'd either have to store the message locally somewhere (and proce

[2020-09-07 09:45] Mixser commented on #113
Hi @canique, according to the specification this is a correct [behavior](https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc385349369)

[2020-09-07 09:56] Mixser commented on #115
Hi, @canique

Good point, we will implement this.

[2020-09-11 21:39] cloud-rocket opened #116 "message process task"
Hi,

What is the proper way to use `asyncio.create_task` for running a message process loop? Something like:
[code]

Thanks!!

[2020-09-24 08:17] fangaofeng opened #117 "server keep live bug"
when there is keeplive in connack，  the exception：
    result = self._handle_packet(cmd, packet)
  File "E:\workspace\mqtt-simulator\env\lib\site-packages\gmqtt\mqtt\handler.py", line 214, in _handle_packet
    handler(cmd, packet)
  File "E:\workspace\mqtt-simulator\env\lib\site-packages\gmqtt\mqtt\handler.py", line 286, in _handle_connack_packet
  File "E:\workspace\mqtt-simulator\env\lib\site-p

[2020-10-05 09:28] Mixser commented on #116
Hi @cloud-rocket,

Please clarify what you exactly want to do. Its seems question not about gmqt, but a question about general using of asyncio

[2020-10-05 09:43] Mixser commented on #117
Hi @fangaofeng, please tell us more about your setup:
1) Python Version
2) Which broker do you use (and its version too)

[2020-10-13 06:07] wanZzz6 commented on #114
My solution：

[code]

[2020-11-07 03:39] honglei opened #118 "Malformed packet when subscribe non-ASCII topic like 'testtopic/时间'"
Enviroment: Win10/python3.8/gmqtt 0.6.7

[code]

[2020-11-07 04:24] honglei commented on #118
It caused by wrong topic length in package.py/build_package function:

[code]

[2020-11-11 16:02] honglei commented on #118
The PUB package also has the same problem.

[2020-11-17 01:15] #118 closed

[2020-11-17 01:16] Mixser commented on #118
Hi @honglei, thanks for issue and that pointing where is the problem;

[2020-11-19 12:22] blaxter commented on #114
I've created a PR (https://github.com/wialon/gmqtt/pull/119) with some instructions on how to reproduce it and a test

[2020-11-30 01:12] mfrlin opened #120 "Same message received multiple times."
Currently if you subscribe to `path/+` and `path/subpath` on message callback will be triggered twice.

Is this expected behaviour?

My personal opinion is it should not be.

[2020-11-30 08:29] Mixser commented on #120
Hi @mfrlin, thanks for the question.
This is expected behavior - client will receive two independent packages from the server and client will process them separate.

[2020-11-30 08:29] #120 closed

[2020-11-30 08:34] Lenka42 commented on #120
Hi @mfrlin
Number of messages you receive does not depend on the gmqtt library, but broker implementation. Which MQTT broker do you use?
Here is [MQTT specification](https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc3901117): "When Clients make subscriptions with Topic Filters that include wildcards, it is possible for a Client’s subscriptions to overlap so that a published messa

[2020-11-30 18:17] mfrlin commented on #120
Thank you for explanation.

I'm using mosquitto btw.

[2020-12-02 06:27] emoriones opened #121 "Develop my own fault recovery logic using gmqtt client"
Hello,

I am trying to implement my own fault handling logic using gmqtt client. To do so, I set `reconnect_retries` in client config to 0. However, when I am using the client normally an I force a broker error I see the errors are still managed by the client like it can be see in the following logs:

[code]

I noticed the exception I want to propagate to handle the error is always swallowed by th

[2020-12-12 03:37] honglei commented on #67
Any news about this branch? When will it been merged to master?

[2021-01-12 11:34] nitinkothari17 commented on #77
Hi

I would also like to know how to implement TLS over gmqtt. Could you please provide a example?
The one which is in the thread is ssl not tls.

[2021-01-13 21:20] Mixser commented on #77
Hi @nitinkothari17

Yes, gmqtt support SSL/TLS

Does the code about is not working for you (because it's using TLS ver1.2 proto)? If you will look through the paho.mqtt code you will see, that they make a SSL/TLS connection by building SSLContext object, like as example above as;

If you faced with some problem - please create a new issue and write more information about it (os version, python ver

[2021-01-15 06:16] nitinkothari17 commented on #77
Hi @Mixser

I'm new to this and exploring tls/ssl on gmqtt. I just want to know how can we generate this mosquitto_client.crt and mosquitto_client.key which is being used in the above code.

[2021-01-15 06:38] nitinkothari17 opened #122 "GMQTT with TLS: Not able to connect to broker #122"
TLS option is not working as expected. I'm new to this so trying to generate the certificates through this link : https://www.engineersgarage.com/tutorials/secure-client-server-communication-over-tls-security-protocol-using-mosquitto-broker-iot-part-42/ and copied the mosquitto_client.crt and mosquitto_client.key in mosquitto folder.

Configuration in my code, using gmqtt:

        sub_client = MQ

[2021-01-15 06:39] nitinkothari17 commented on #122
@Lenka42 could you please take a look and help.

[2021-01-15 07:42] Mixser commented on #122
@nitinkothari17 Please, provide the config and logs of mosquitto.

[2021-01-15 08:00] nitinkothari17 commented on #122
mosquitto.conf :

persistence true
allow_anonymous false
password_file passwd

Logs :

1610697316: mosquitto version 1.6.12 starting                                                                                                                                                   1610697316: Config loaded from mosquitto.conf.

[2021-01-15 08:13] Mixser commented on #122
You have not right configuration. Mosquitto server doesn't know about your certs and can't use them for establishing connection;

This **mosquitto_client.crt** and **mosquitto_client.key** files are not for mosquitto server, but for the client and you don't need to copy them to mosquitto folder.

For right configuration of mosquitto *server* you need to have this certs:
* CA.crt
* mosquitto_server

[2021-01-15 08:35] nitinkothari17 commented on #122
@Mixser

Tried the steps and yes set_auth_credentials is already configured.

Latest logs :
1610699410: mosquitto version 1.6.12 starting                                                                                                                                                   1610699410: Config loaded from mosquitto.conf.

[2021-01-15 09:33] Mixser commented on #122
Did you run mosquito in docker?

[2021-01-15 09:37] nitinkothari17 commented on #122
Docker, and the logs which I posted earlier were through mosquitto container

[2021-01-15 09:59] Mixser commented on #122
Ok, I see. I need some time to test it on windows + docker. But it seems like you didn't copy certs into your container (or didn't mount folder with them);

[2021-01-15 09:59] nitinkothari17 commented on #122
@Mixser Got it working,

Copied the config like this in mosquitto docker file:

COPY ./certs/mosquitto_server.crt /mosquitto_server.crt
COPY ./certs/ca.crt /ca.crt
COPY ./certs/mosquitto_server.key /mosquitto_server.key

now the container is up.
But topic is not subscribed or even connected now

[2021-01-15 10:01] Mixser commented on #122
Did you change path to the cert in config??
Now it should be like
[code]

[2021-01-15 10:02] nitinkothari17 commented on #122
@Mixser Yep, that's why mosquitto container is running now.

[2021-01-15 10:26] nitinkothari17 commented on #122
@Mixser I think there is some problem in this code or keys:

After mosquitto container is up, is the code corrent because I didn't encounter any error (mosquitto_client crt and key file)

    sub_client = MQTTClient(client_id='test')
    ssl_context = ssl.SSLContext(ssl.PROTOCOL_TLSv1_2)
    ssl_context.load_cert_chain('/mosquitto_client.crt',
                                keyfile='/mosquitto_cl

[2021-01-15 10:35] Mixser commented on #122
Okey, give us some time. We will test it with same env as your and after that will write how to make it works

[2021-01-17 16:12] nitinkothari17 commented on #122
@Mixser I resolved the issue but encountered one more after trying to connect regarding the ca certificate:

- Verification error: self signed certificate
- Can't use SSL_get_servername
-  23564:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:../openssl-1.1.1g/ssl/record/rec_layer_s3.c:1543:SSL alert number 40

[2021-01-18 20:07] Mixser commented on #122
Hi @nitinkothari17

There is a small instruaction, how we made it works

## First of all we need to build CA key and cert

[code]

## Build a server certificate
Generate server key
[code]

Then we need to create certificate signing request. When you will be asked for `Common Name (e.g. server FQDN or YOUR name)` - you **SHOULD** write there smth (for exmaple mqtt.server)

[code]

The next step is

[2021-01-18 20:07] #122 closed

[2021-01-26 13:55] Shraddha-gami-source opened #123 "How to increase the max in IdGenerator from client?"
On sending messages/ack it is showing QoS query is full
Is there any way to increase the max in IdGenerator from a client itself?

  Attaching the stack trace for more info.
  File "/usr/local/lib/python3.7/dist-packages/gmqtt/client.py", line 225, in subscribe
    return self._connection.subscribe(subscriptions, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/gmqtt/mqtt/connection.py", l

[2021-01-27 08:11] Mixser commented on #123
Hi @Shraddha-gami-source

We can't increase a number of ids, because this is a limitation of MQTT protocol. Why do you have so many pending messages?

[2021-03-19 07:20] murazh opened #124 "Resubscribe after autoreconnect"
After the client automatically restores the connection with a broker it doesn't resubscribe and the broker also doesn't save subscriptions with `session_expire_interval` not set. So all subscriptions lost and the client doesn't receive new messages.

[2021-03-30 17:42] hollymcr opened #125 "[PROPERTIES] received invalid property id 105, disconnecting"
I don't understand the code well enough to make sense of what I am seeing here, but I am sometimes getting exceptions thrown in  MqttPackageHandler._handle_publish_packet() due to the returned value of properties from qttPackageHandler._parse_parameters()  being None:
[code]

Looking at the code in _handle_connack_packet, a test is made for None and a call to self.disconnect() queued. But _handle_

[2021-04-02 11:04] Mixser commented on #125
Hi @hollymcr

Thanks for your issue, may you provider which mqtt-broker do you use?

[2021-04-02 11:21] hollymcr commented on #125
Mosquitto (standard install via apt on Ubuntu Server 20.04) over SSL.

On Fri, 2 Apr 2021 at 12:05, Mike Turchunovich ***@***.***>
wrote:

--
Mark Rogers // More Solutions Ltd (Peterborough Office) // 0844 251 1450
Registered in England (0456 0902) 21 Drakes Mews, Milton Keynes, MK8 0ER

[2021-04-07 16:44] freemansgit opened #127 "Handler does not work for null body retained messages published before the handler created"
Handler does not work for null body retained messages published before the handler created. One service publishes null body messages with retaining True. Another service started later and its handlers don't react only on null-body retained messages. With other kinds of messages, everything is ok and Handlers catch it successfully. Maybe I should add some specific parameters for that case?

[2021-04-08 04:00] hidaris commented on #127
It seems that the broker sent the client a retain message before your subscription took effect, did you use the subscription in the on connect callback? I'm wondering if gmqtt can ensure that the subscriptions take effect even when connecting.

[2021-04-08 06:14] freemansgit commented on #127
Yes, we use the subscription in the on_connect callback. We found one interesting info https://community.openhab.org/t/clearing-mqtt-retained-messages/58221 that article says the approach to drop retain message is to send null message to the topic. Out filters wait 'retain' messages and did not react on not 'retain' messages. Maybe this is the answer.

[2021-04-08 07:29] Lenka42 commented on #127
@freemansgit hi, subscription has retain_as_published flag, by default it is False. So by default, when publisher publishes message with retain True and the listener is online, listener will get the message with retain False flag. Listener will receive retain True messages only immediately after subscription, these messages are from broker storage.

[2021-04-08 08:06] freemansgit commented on #127
This flag did not help, We think that it is mqtt specific point. That retain flag drops if the null message is posted before subscription of the another client

[2021-04-08 08:10] Lenka42 commented on #127
@freemansgit if client subscribes after null retain message is published, it will not get any message from this topic at all. Null message removes retain message in the topic.

[2021-04-09 12:36] freemansgit commented on #127
Thanks for the quick support. I close the issue

[2021-04-09 12:36] #127 closed

[2021-07-03 10:14] lbt opened #128 "Client still running after disconnect() in 0.6.9"
Linux Python 3.7.3 mqtt 0.6.9

This is normal production setup that runs well.
The problem occurs when trying to shutdown cleanly

Here is a log:

[code]
Ctrl-C hit at this point and the cleanup code is run in my finish()
First my callbacks to handle any ongoing mqtt activity if there was any.
[code]
Still in finish() and "await client.disconnect()" is called
[code]
My on_disconnect callback is ca

[2021-07-03 11:51] lbt commented on #128
My bad.

I imported a long-lived django app and inside that app it run another mqtt client which publishes on save() and that wasn't being shutdown.

My logs had:
[code]
and later
[code]

Sorry for the noise.

[2021-07-03 11:51] #128 closed

[2021-07-16 12:35] rendres93 opened #130 "Exceeded reconnect_retries seems not to be working"
I was looking for a way of checking if the reconnect_tries was exceeded and found this issue: https://github.com/wialon/gmqtt/issues/72 that was asking the same. It has a PR associated: https://github.com/wialon/gmqtt/pull/76

The thing is I've tried the solution proposed with `gmqtt==0.6.9` and `on_disconnect` is only called when the first disconnection happens...

[code]

Thanks!

[2021-07-26 18:11] BinarSkugga opened #131 "Unsubscribe doesn't remove the topic from the internal list"
The `unsubscribe` method doesn't remove the topic from `self.subscriptions` internal list. It causes a very slow memory leak over time for clients that subscribe and unsubscribe to topics containing unique paths.

[2021-07-27 10:38] #131 closed

[2021-08-17 07:37] jamwu1991 opened #133 "I can't to use ca.crt, client.crt, client.key (X509 certificate) to connect mqtt broker."
Hi everyone

I want to use ca.crt, client.crt, client.key to connect mqtt broker.

My code like following:
[code]

And the execute result is:
[code]

The execute is stop at the following line code

[code]

Can someone tell me how to fix it?

Thanks for your watching and any idea.

The certificate file content is:
ca.crt -> Just a ca certificate. Content as following
[code]
client.crt -> Just a cli

[2021-09-03 22:28] Aliber009 opened #134 "Read message from mqtt and post Data to wialon"
Hello , and thanks for the Effort ,
my device is a no branded,  it sends the data to RabitMq,
Please how Can read data from a certain topic and send it to wialon via TCP whenever I get a msg in my queue,
is it possible with your program ?
Thank youu

[2021-09-09 10:38] Yingliangzhe opened #135 "request and response mechanism"
Hello everyone,
I would like to ask, if there is a request and response mechanism in mqtt protocol.
Like, I send a message to a mqtt client through mqtt server. After receiving the message the mqtt client would reply to me.
This happens within a timeout.

Thank you!

[2021-09-13 11:20] #135 closed

[2021-10-09 07:38] Mixser commented on #133
Hi, thanks for the issue. Please clarify your env (os, broker version).

By the way we have already faced with a same issue in the past, please try to read and may be it will help you https://github.com/wialon/gmqtt/issues/122#issuecomment-762448887

[2021-10-15 08:19] sunnyanthony opened #136 "won't remove resend messages if PUBREC is faster than pushing message"
https://github.com/wialon/gmqtt/blob/50bc08300d858c6e28d4975a989be578954bf7bd/gmqtt/client.py#L197-L198
The order will cause `_handle_pubrec_packet`  do not properly remove messages.
If client sends packages out and very soon to get `PUBREC`, it will not remove this message before pushing back.

The suggestion:
[code]

[2021-10-18 13:45] Lenka42 commented on #136
@sunnyanthony thanks for the issue and PR. Seems legit :+1:  check version `0.6.11`

[2021-12-10 11:09] dawcal opened #139 "publish() and then disconnect() may result in messages not received by a broker"
Hi.

We have such code (simplified):
`client = MQTTClient(instance_name, session_expiry_interval=0, clean_session=True)`
`await client.connect(broker_addr)`
`client.publish("theMessage", qos=1, retain=True)`
`# we possibly send here much more messages`
`await asyncio.sleep(4)  # wait for publish msgs to be sent; 2 secs is not enough, 4 is enough (update: or not)`
`await client.disconnect()`
`sys.e

[2022-01-13 02:12] panla opened #140 "is there a handler like python.paho.mqtt message_callback_add?"
is there a handler like python.paho.mqtt message_callback_add?
Provide processing function for each topic.

[2022-01-13 09:47] Lenka42 commented on #140
Hi @panla
No, you can set only general `on_message` callback and manually, using message topic or subscription_identifier property process the message.

[2022-01-13 12:51] panla commented on #140
thanks

[2022-01-13 12:51] #140 closed

[2022-01-30 16:54] bambachas opened #141 "No PubBack Message"
i have an application with google-iot-core
Google iot-core allows you to have A gateway with multiple devices
The gateway is the Client.
To be able the multiples devices to communicate thought gateway with the google-broker its need to publish a specific attach message to google-iot-core broker, after that you can subscribe as device in the broker
The problem is gmqtt doesnt return PubBack message

[2022-02-25 14:25] mfanara commented on #58
@Lenka42 - Using the current master branch (as of 25 FEB 2022), what is the correct answer?

**This works:**

try:
         await lLocalMRClient.connect("localhost", 1884, keepalive=60)
    except ConnectionRefusedError:
        asyncio.ensure_future(lLocalMRClient.reconnect(delay=True))

**as does:**

try:
         await lLocalMRClient.connect("localhost", 1884, keepalive=60, raise_exc=True)

[2022-10-11 16:28] Yingliangzhe opened #143 "Connection error"
Hello,
I'm trying to connect a mqtt server in docker container, but what I received is always the following:

2022-10-11 18:26:30.547: INFO     [CONNECTION MADE]
2022-10-11 18:26:30.547: INFO     [CONN CLOSE NORMALLY]
2022-10-11 18:26:30.547: INFO     Disconnected from Server !
2022-10-11 18:26:30.547: WARNING  [TRYING WRITE TO CLOSED SOCKET]
2022-10-11 18:26:36.551: INFO     [CONNECTION MADE]
202

[2022-10-14 13:36] #143 closed